before_action :set_query

    def search
        @tags = Tag.all
    
        if params[:search_by_name] && params[:search_by_name] != ""
          @tags = @tags.where("name like ?", 
          "%# {params[:search_by_name]}%")
        end
    end
    def set_query
        @q = Tag.ransack(params[:q])
        @tags = @q.result(distinct: true)
    end


    <% @tag.templates.each do |template| %>

  <%=template.title%>
  <%= image_tag template.image_path%>
<%end%>


<div>
  <%= link_to "Edit this tag", edit_tag_path(@tag) %> |
  <%= link_to "Back to tags", tags_path %>

  <%= button_to "Destroy this tag", @tag, method: :delete %>
</div>